@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size:22px;
  line-height:26px;
  color:#000000 ;
  background-color: #F2F2F2;
}
.btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#FFFFFF;
  text-decoration: none;
}
.btn-want-here, .btn-more-detail{
  background-color:#756157;
  font-size: 16px;
  line-height: 20px;
}
.btn-is-like{
  background-color:#7DB54F;
  font-size: 16px;
  line-height: 20px;
}
.btn-search-hotel{
  background-color:#756157;
  font-size: 20px;
  line-height: 36px;
}
.btn-sign-up{
  background-color:#82B3D3;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.btn-apply, .btn-in-like {
  background-color:#82B3D3;
  font-size: 16px;
  line-height: 20px;
}
.btn-reset{
  background-color:rgba(0,0, 0, 0);
  font-size: 16px;
  line-height: 20px;
}
.page-wrapper {
  background-color: #FFFFFF;
}
.page-header{
  font-weight: 700;
}
.page-header .navigation-link {
  font-size:20px;
  line-height:24px;
  text-decoration: none;
  color: #000000;
}
.btn-want-here{
  font-size:16px;
  line-height:20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
.welcome-img-nature{
  width: auto;
  height: auto;
}

/* .index-welcome {
  background-image: url("../images/index-welcome-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#82B3D3;
  } */
.index-welcome {
  background-image: url("../images/index-background-element.svg"), url("../images/index-welcome-background.jpg");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:#82B3D3;
  }
.description-title, .text-page, .search-hotel-title, .subscribe-title{
  font-size:30px;
  line-height:36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.text-page .usual-text-page, .description-text, .search-hotel-text, .subscribe-text{
  font-size:22px;
  line-height:26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
.subscribe-text{
  color:#FFFFFF;
}

.advantages-list, .services-list{
  text-align: center;
}
.advantages-card-title, .services-card-title{
   font-size:24px;
  line-height:28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.advantages-card-text, services-card-text{
   font-size:18px;
  line-height:21px;
  font-weight: 400;
  color: #333333;
}
.first-advantages, .fifth-advantages {
  color: #FFFFFF;
  background-color: #82B3D3;
}
.second-advantages, .fourth-advantages, .first-service, .third-service {
  background-color: #83B3D31F;
}
.third-advantages{
  background-color: #83B3D333;
}
.btn-search-hotel, .btn-sign-up {
  color:#FFFFFF;
  font-size:20px;
  line-height:36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.subscribe{
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/index-subscribe-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
}
.footer .phone-number {
  font-size:40px;
  line-height:40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
}
.wrapper-filters {
  background-image: url("../images/catalog-background.jpg");
  background-color:  #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.breadcrums-link{
  color: #FFFFFF;
  font-size: 16px;
  line-height:21px;
  text-decoration: none;
}

.catalog-page-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.hotels-filter-title, .price-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.control {
  font-size:18px;
  line-height:23px;
}
.type-display-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.hotel-card-title {
  font-size:24px;
  line-height: 28px;
  font-weight: 700;
}
.hotel-card-text{
  font-size:18px;
  line-height:21px;
  color:#333333;
}
.hotel-card-raiting {
  font-size:16px;
  line-height:21px;
  color:#333333;
  text-transform: uppercase;
}
.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#FFFFFF;
  text-decoration: none;
  background-color:#82B3D3;
  font-size: 20px;
  line-height: 36px;
}
.pagination-link-current{
  background-color:#F2F2F2;
  color:#000000;
}
.pagination-link-more {
  background-color:rgba(0,0, 0, 0);
  color:#000000;
}
.subscribe-catalog{
  color:#000000;
  background-image: none;
  background-color: #FFFFFF;
  text-align:center;
}
.subscribe-text-catalog{
  color:#333333;
}
